@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Ubuntu&display=swap');


body{
	background: #2d98da;
}

h1{
	font-family: 'Caveat', cursive;
	color: #fff;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}


.card {
	margin: 1em;
	float: left;
	font-family: 'Ubuntu', sans-serif;
	color: #fff;
	background: #26de81;
	width: 20%;
	padding: 2em;
	border-radius: 1em;
}

div.pl{
	margin-top: 1em;
}